@font-face {
  font-family: "spotify-circular";
  src: url("fonts/CircularSpotifyText-Black.otf") format("opentype"),
    url("fonts/CircularSpotifyText-BlackItalic.otf") format("opentype"),
    url("fonts/CircularSpotifyText-Bold.otf") format("opentype"),
    url("fonts/CircularSpotifyText-Book.otf") format("opentype"),
    url("fonts/CircularSpotifyText-BookItalic.otf") format("opentype"),
    url("fonts/CircularSpotifyText-Light.otf") format("opentype"),
    url("fonts/CircularSpotifyText-Medium.otf") format("opentype"),
    url("fonts/CircularSpotifyText-MediumItalic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
html {
  background-color: #191414;
}
#root {
  font-family: "spotify-circular";
}

/* On Scroll effect */
.marquee {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  color: white;
  background-color: black; /* Optional: Add background color for better visibility */
}

.marquee-p{
  display: inline-block;
  padding-left: 100%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}