.fet-title {
  color: #fff;
  padding: 32px;
  font-size: xxx-large;
}
.cont-app {
  color: #fff;
  height: 20rem;
  margin-top: 10rem;
}
.head-steps {
  text-align: center;
}
.steps {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  column-count: 3;
  column-gap: 20px;
}
.step-head {
  color: #1db954;
}
.step-dis {
  flex: 1 1 300px;
  margin: 10px;
  padding: 10px;
  color: #fff;
}
.fet-1-img {
  margin-left: 3rem;
}
.ban-cont {
  background-color: #191414;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  margin-left: 20rem;
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  margin-right: 20rem;
  height: 10rem;
  border: solid rgb(59, 55, 55);
  border-radius: 10px;
}
.ban-msg {
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.ban-star {
  margin-top: 5px;
  height: 1.9rem;
}
@media screen and (max-width: 800px) {
  .fet-title {
    font-size: 2.2rem;
  }
  .ban-cont {
    margin: auto;
  }
  .cont-app {
    height: auto;
    margin-bottom: 2rem;
  }
}
