.fet-title {
  color: #fff;
  padding: 32px;
  font-size: xxx-large;
}
.cont-app {
  color: #fff;
  height: 20rem;
}
.head-steps {
  text-align: center;
}
.steps {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  column-count: 3;
  column-gap: 20px;
}
.step-head {
  color: #1db954;
}
.step-dis {
  flex: 1 1 300px;
  margin: 10px;
  padding: 10px;
  color: #fff;
}
.fet-1-img {
  margin-left: 3rem;
}

@media screen and (max-width: 800px) {
  .fet-title {
    font-size: 2.2rem;
  }
}
